input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  color: #fff;
  padding: 6px 15px;
}
.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 20px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.answer {
    margin-top: 30%;
}

.card-images {
  max-width: 600px;
  max-height: 400px;
  cursor: pointer;
    outline: none;
    border-radius: 12px;
    font-size: 1rem;
    font-family: inherit;
    background: rgb(162,162,246);
    color: rgb(29,29,29);
    border: 5px solid transparent;
    transition: 0.3s ease all;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3 rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3 rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.present-input {
  padding-top: 10%;
  display: block;
  align-items: center;
  justify-content: center;
}

.images {
  padding-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.deleteBtn {
  margin-right: 5%;
  cursor: pointer;
    outline: none;
    border-radius: 12px;
    font-size: 1rem;
    font-family: inherit;
    background: rgb(162,162,246);
    color: rgb(29,29,29);
    border: 4px solid transparent;
    transition: 0.3s ease all;
}

.card-image {
  border-radius: 10px;
}

.input-button {
  cursor: pointer;
    outline: none;
    border-radius: 12px;
    font-size: 1rem;
    font-family: inherit;
    background: rgb(162,162,246);
    color: rgb(29,29,29);
    border: 4px solid transparent;
    transition: 0.3s ease all;
}

.submit-button {
  cursor: pointer;
    outline: none;
    border-radius: 12px;
    font-size: 1rem;
    font-family: inherit;
    background: rgb(162,162,246);
    color: rgb(29,29,29);
    border: 4px solid transparent;
    transition: 0.3s ease all;
    margin-left: 10px;
}

.send-message {
  padding-top: 0;
  margin-top: 3%;
  padding-top: 10px;
}


.message {
    margin-top: 10px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    font-family: inherit;
    background: rgb(162,162,246);
    color: rgb(29,29,29);
    border: 4px solid transparent;
    transition: 0.3s ease all;
}

.message-submit {
    cursor: pointer;
    outline: none;
    border-radius: 12px;
    font-size: 1rem;
    font-family: inherit;
    background: rgb(50, 50, 50);
    color: rgb(29,29,29);
    border: 4px solid transparent;
    transition: 0.3s ease all;
    margin-right:auto;
    margin-left:auto;
}

.home-page-img {
  margin-top: 30px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.homePageTag {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.bet {
  margin-top: -12%;
}

.allows {
  margin-top: -8%;
}

.about-us {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}